---
siteTitle: Ryland Curtsinger
sortOrder:
  - resume
  - pictures
  - publications
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{{ title }}</title>
        <script async src="/scripts/main.js"></script>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/gallery.css">
        <link rel="stylesheet" href="/styles/cards.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Raleway:400,500&display=swap" rel="stylesheet">
        <script data-goatcounter="https://eqwc.goatcounter.com/count" async src="/scripts/count.js"></script>
    </head>

    <body>
        {{ content }}
    <noscript>
      <img alt="" src="https://eqwc.goatcounter.com/count?p={{ page.url | url }}&t={{ title | url_encode }}">
    </noscript>
    </body>
</html>