---
layout: layouts/base.liquid
---
<header class="main-header">
    <a class="site-title" href="/">{{ siteTitle }}</a>
    <nav role="navigation" class="primary-nav">
        <ul>
        {% for navPage in collections.topLevel | sortMenu(sortOrder) %}
            <li><a href="{{ navPage.data.page.url }}">{% if navPage.data.navName %}  {{ navPage.data.navName }} {% else %} {{ navPage.data.navPageTitle }} {% endif %}</a></li>
        {% endfor %}
        </ul>
    </nav>
</header>
<main>
{{ content | safe }}
</main>