---
layout: layouts/base.liquid
siteTitle: Ryland Curtsinger
---
<header class="main-header main-header--page">
    <a class="site-title site-title--page" href="/">{{ siteTitle }}</a>
    <nav role="navigation" class="primary-nav primary-nav--page">
        <ul>
        {% for page in collections.topLevel | sortMenu(sortOrder) %}
            <li><a href="{{ page.data.page.url }}">{% if page.data.navName %}  {{ page.data.navName }} {% else %} {{ page.data.pageTitle }} {% endif %}</a></li>
        {% endfor %}
        </ul>
    </nav>
</header>
<main>
{{ content | safe }}
</main>