.main-header {
    display: block;
    padding: 1rem;
    margin: 2vh;
    border-style: solid;
    border-color: var(--c-border);
    border-width: 2px;
}

.site-title {
    font-size: 1.75rem;
}

.primary-nav {
    margin: 10px 0 0 0;
}

.primary-nav ul {
    list-style-type: none;
    text-align: center;
}

.primary-nav ul li {
    padding: 10px;
    display: inline;
}